* {
  box-sizing: border-box;
}

.grid {
  height: 100vh;
  padding: 10px;
  margin: auto 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 4fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "onehalf onehalf ."
    "content content side"
    "recomend recomend recomend"
    "footer footer footer";
  grid-gap: 10px;
}

.one {
  grid-area: header;
}
.two {
  grid-area: content;
}
.three {
  grid-area: side;
}
.four {
  grid-area: recomend;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.five {
  grid-area: footer;
}
.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.title > p {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
}

li {
  display: inline;
}

img {
  width: 100%;
}
.nav2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}
.nav2 > * {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5f5f5;
}

.side-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.side-grid > * {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background-color: #f5f5f5;
}

.number {
  font-size: 2rem;
  padding-right: 10px;
}

.five > ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

p {
  font-family: "PT Serif", Georgia, serif;
}
.page-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: Web, Helvetica, Trebuchet MS, Arial, sans-serif;
}

.main-header {
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
}
.side-font {
  color: #4d4d4d;
  font-size: 1.375rem;
  font-weight: 700;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  letter-spacing: -0.0375rem;
  line-height: 1.5625rem;
  padding: 0.6875rem;
}

.onehalf {
  top: -1px;
  font-size: 1.125rem;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  line-height: 1.3125rem;
  background-color: white;
  grid-area: onehalf;
  position: -webkit-sticky;
  position: sticky;
}
.nav1 {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
}

.title3 {
  align-items: end;
}

@media (max-width: 700px) {
  body > * {
    width: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "onehalf"
      "content"
      "recomend"
      "side"
      "footer";
    grid-gap: 10px;
    padding: 0;
    margin: auto auto;
    width: 100%;
  }
  .side-grid > * {
    display: flex;
    gap: 30px;
  }
  .four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .five > ul {
    gap: 10px;
    flex-wrap: wrap;
  }
  .nav2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
  .title1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .title3 {
    align-items: center;
  }
}
